<h1>Buscador:<small>{{ termino }}</small></h1>
<hr>

<div class="row animated fadeIn fast" *ngIf="heroes.length == 0">
    <div class="col-12">
        <div class="alert alert-info" role="alert">
            <p class="m-0 p-0">No existen resultado con el termino: {{ termino }}</p>
        </div>
    </div>
</div>

<div class="card-columns">
    <div class="card animated fadeIn fast" *ngFor="let heroe of heroes; let i=index">
        <img [src]="heroe.img" class="card-img-top" [alt]="heroe.nombre">
        <div class="card-block p-2">
            <h5 class="card-title">{{ heroe.nombre }}</h5>
            <p class="card-text">{{ heroe.bio }}</p>
            <p class="card-text"><small class="text-muted">{{ heroe.aparicion }}</small></p>

            <a [routerLink]="['/heroe',i]" class="btn btn-outline-primary btn-block">
                Ver más...
            </a>
        </div>
    </div>
</div>